table {
    width: 50%;
    border-spacing: 0ch;
}

th {
    border-width: 1px;
    border: 1px solid black;
}

td {
    width: 25%;
}


/* Selectores de clases*/
.back-header {
    background-color: #F1F1F1;
}

.espacio-texto-celda {
    text-align: left;
margin: 1em;
}