table {
    width: 65%;
    border-collapse: collapse;
    text-align: left;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.85em;
}

td {
    width: 25%;
}

/* Selectores de clases*/
.back-header {
    background-color: #F1F1F1;
}

.celda-borde-lateral {
    border-left: 1px solid black;
    padding: 4px 0px 4px 8px;
}

th, .celda-borde {
    border: 1px solid black;
    padding: 8px;
}

.img-cat {
    width: 50%;
}

.img-cat-v {
    width: 85%;
}

.vid-cat-h {
    width: 70%;
}
.vid-cat {
    width: 45%;
}

.container {
    display: flex;
}

.container>div {
    flex: 1; /*grow*/
}